.banner {
    background-image: url('./image/abstract-pattern.jpg');
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 0 -250px;
    background-attachment: fixed;
    height: 60vh;
    margin-bottom: 30px;
}
.content-banner p {
    font-size: 50px;
    font-weight: bold;
    color: black;
    position: relative;
    animation: title;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes title {
    0% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}
.content-banner button {
    color: black;
    background-color: transparent;
    border-radius: 5px;

    position: relative;

    width: 200px;
    height: 50px;

    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1.5px;

    cursor: pointer;
    border: 2px solid black;
    opacity: 0;
    outline: none;

    animation-name: button;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.content-banner button:hover{
    color: red;
    background-color: black;
}
.content-banner button:active{
    transform: translate(-5px,5px);
}
@keyframes button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.slide-container {
    width: 70%;
    margin: auto; 
    margin-top: 10px;
}
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }